 {{#if this.isAdminPage}}

         <DButton
                @action={{action "navigateToDashboard"}}
                @icon="house"
                @label="Back to Main Dashboard"
                class="ember-view admin-sidebar-nav-link"
              />

        <a id="" class="ember-view admin-sidebar-nav-link" data-link-name="back_to_main_dashboard"  {{on "click" this.navigateToDashboard}} >
            
      <span class="sidebar-section-link-prefix icon">
          <svg class="fa d-icon d-icon-house svg-icon prefix-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#house"></use></svg>
<!---->      </span>
            <span class="sidebar-section-link-content-text">
              Back to Main Dashboard
              <!---->
            </span>
<!---->
<!---->
<!---->    </a>
 {{/if}}