 {{#if this.isAdminPage}}
    <li title="Back to main Admin Dashboard" id=""  class="navigation-item user-activity-export">
        <a class="ember-view navigation-link" href="/admin/">Back to main Dashboard</a>
    </li>
 {{/if}}