 @import url(https://fonts.googleapis.com/css?family=Poppins);
  
    body {
        font-family: 'Poppins', sans-serif;
    }
.powered-by-discourse {
    display: none;
}
.categories-list .category .category-description {
    overflow:visible;
}

/** START PRODUCT CATALOG LINK STYLES  */
.custom-header-links .headerLink a:hover{
    color : var(--primary-high);
    background-color: var(--primary-low);
    border-radius : 5px;
    

}




html.mobile-device .custom-header-links .headerLink a{
    color : var(--primary-high);
    background-color: var(--primary-low);
    border-radius : 5px;
    border: 1px solid white;
    

}
 /** END PRODUCT CATALOG LINK STYLES  */

 
 
.category-web3-bootcamp .list-controls .combo-box .combo-box-header {
    background: #5959D8;
    border-radius :5px;
    color : white;
    
}
body.category-web3-bootcamp .d-header{
    box-shadow : 0 2px 4px -1px #5959D8; ;
}

.category-web3-bootcamp .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #F36E1F;

}
.category-web3-bootcamp .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-web3-bootcamp .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #F36E1F;
    background-color: #F36E1F;
}
.category-web3-bootcamp  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #F36E1F;
    background-color: #F36E1F;
}

.category-web3-bootcamp .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-web3-bootcamp .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-web3-bootcamp .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-web3-bootcamp .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-web3-bootcamp .btn.edit-category{
    background:#5959D8;
    color:white;
    border-radius: 5px;
}
.category-web3-bootcamp .btn.edit-category:hover{
    background-color: #F36E1F;

    color:black;
    transition : all .2s ease-in-out;
}
.category-web3-bootcamp .btn.edit-category .svg-icon{
    color:white;
}
.category-web3-bootcamp .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-web3-bootcamp .footer-message h3 span {
    color: #f7901d;
}
.category-web3-bootcamp .footer-message h3 span a,
.category-web3-bootcamp .footer-message h3 a{
    color: #f7901d;
}

.category-web3-bootcamp .category-notifications-button .btn,
.category-web3-bootcamp .btn#create-topic{
    background-color: #5959D8;
    color:white;
    border-radius: 5px;
}
.category-web3-bootcamp .category-notifications-button .btn:hover,
.category-web3-bootcamp .btn#create-topic:hover{
    background-color: #F36E1F;
    color:white;
    transition : all .2s ease-in-out;
}
.category-web3-bootcamp .btn#create-topic .d-icon{
    color:white;
}

.category-web3-bootcamp .d-icon.d-icon-d-regular,
.category-web3-bootcamp .d-icon.d-icon-d-muted, 
.category-web3-bootcamp .d-icon.d-icon-d-watching-first,
.category-web3-bootcamp .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-web3-bootcamp .discourse-no-touch .btn .d-icon{
    color: black;
}

.category-web3-bootcamp .discourse-no-touch .btn{
    background: #f7901d;
}


.category-web3-bootcamp .nav-item_latest.active.latest a.active,
.category-web3-bootcamp .nav-item_top.top a.active
{
    background-color: #F7901D;
    border-radius :5px;
    
}

.category-web3-bootcamp .nav-item_top.top a:hover,
.category-web3-bootcamp .nav-item_latest.latest a:hover{
     color: white;
     background-color: #F7901D;
     border-radius :5px;
}


.category-web3-bootcamp .topic-footer-main-buttons .btn,
.category-web3-bootcamp .topic-admin-menu-button .btn,
.category-web3-bootcamp .pinned-button .pinned-options .btn,
.category-web3-bootcamp .topic-notifications-button .btn
{
     background-color: #5959D8;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-web3-bootcamp .topic-footer-main-buttons .btn:hover,
.category-web3-bootcamp .pinned-button .pinned-options .btn:hover,
.category-web3-bootcamp .topic-admin-menu-button .btn:hover,
.category-web3-bootcamp .topic-notifications-button .btn:hover,
.category-web3-bootcamp .pinned-button .pinned-options .btn:focus,
.category-web3-bootcamp .topic-notifications-button .btn:focus{
     background-color: #F7901D;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-web3-bootcamp .topic-footer-main-button .d-button-label{
    color:white;
}

.category-web3-bootcamp .pinned-button .pinned-options .btn {
    
}






/*STARGING AI EDGE GROUP BRANDING*/
.category-ai-edge-bootcamp .list-controls .combo-box .combo-box-header {
    background: #B413A9;
    border-radius :5px;
    color : white;
    
}

body.category-ai-edge-bootcamp .category-heading > p{
    display: none;
}


body.category-ai-edge-bootcamp .d-header{
    box-shadow : 0 2px 4px -1px #B413A9; ;
}

.category-ai-edge-bootcamp .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #951300;

}
.category-ai-edge-bootcamp .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-ai-edge-bootcamp .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #951300;
    background-color: #951300;
}
.category-ai-edge-bootcamp  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #951300;
    background-color: #951300;
}

.category-ai-edge-bootcamp .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-ai-edge-bootcamp .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-ai-edge-bootcamp .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-ai-edge-bootcamp .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-ai-edge-bootcamp .btn.edit-category{
    background:#B413A9;
    color:white;
    border-radius: 5px;
}
.category-ai-edge-bootcamp .btn.edit-category:hover{
    background-color: #951300;

    color:black;
    transition : all .2s ease-in-out;
}
.category-ai-edge-bootcamp .btn.edit-category .svg-icon{
    color:white;
}
.category-ai-edge-bootcamp .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-ai-edge-bootcamp .footer-message h3 span {
    color: #951300;
}
.category-ai-edge-bootcamp .footer-message h3 span a,
.category-ai-edge-bootcamp .footer-message h3 a{
    color: #951300;
}

.category-ai-edge-bootcamp .category-notifications-button .btn,
.category-ai-edge-bootcamp .btn#create-topic{
    background-color: #B413A9;
    color:white;
    border-radius: 5px;
}
.category-ai-edge-bootcamp .category-notifications-button .btn:hover,
.category-ai-edge-bootcamp .btn#create-topic:hover{
    background-color: #951300;
    color:white;
    transition : all .2s ease-in-out;
}
.category-ai-edge-bootcamp .btn#create-topic .d-icon{
    color:white;
}

.category-ai-edge-bootcamp .d-icon.d-icon-d-regular,
.category-ai-edge-bootcamp .d-icon.d-icon-d-muted, 
.category-ai-edge-bootcamp .d-icon.d-icon-d-watching-first,
.category-ai-edge-bootcamp .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-ai-edge-bootcamp .discourse-no-touch .btn .d-icon{
    color: white;
}

.category-ai-edge-bootcamp .discourse-no-touch .btn{
    background: #951300;
}


.category-ai-edge-bootcamp .nav-item_latest.active.latest a.active,
.category-ai-edge-bootcamp .nav-item_top.top a.active
{
    background-color: #951300;
    border-radius :5px;
    
}

.category-ai-edge-bootcamp .nav-item_top.top a:hover,
.category-ai-edge-bootcamp .nav-item_latest.latest a:hover{
     color: white;
     background-color: #951300;
     border-radius :5px;
}


.category-ai-edge-bootcamp .topic-footer-main-buttons .btn,
.category-ai-edge-bootcamp .topic-admin-menu-button .btn,
.category-ai-edge-bootcamp .pinned-button .pinned-options .btn,
.category-ai-edge-bootcamp .topic-notifications-button .btn
{
     background-color: #B413A9;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-ai-edge-bootcamp .topic-footer-main-buttons .btn:hover,
.category-ai-edge-bootcamp .pinned-button .pinned-options .btn:hover,
.category-ai-edge-bootcamp .topic-admin-menu-button .btn:hover,
.category-ai-edge-bootcamp .topic-notifications-button .btn:hover,
.category-ai-edge-bootcamp .pinned-button .pinned-options .btn:focus,
.category-ai-edge-bootcamp .topic-notifications-button .btn:focus{
     background-color: #951300;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-ai-edge-bootcamp .topic-footer-main-button .d-button-label{
    color:white;
}

.category-ai-edge-bootcamp .pinned-button .pinned-options .btn {
    
}



/* END AI EDGE GROUP BRANDING*/


/* START 8 Cmpassionate Forclosure basics GROUP BRANDING */

.category-8-compassionate-foreclosure-basics .list-controls .combo-box .combo-box-header {
    background: #F7901D;
    border-radius :5px;
    color : white;
    
}
body.category-8-compassionate-foreclosure-basics .d-header{
    box-shadow : 0 2px 4px -1px #F7901D; 
}

.category-8-compassionate-foreclosure-basics .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #266CC3;

}
.category-8-compassionate-foreclosure-basics .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-8-compassionate-foreclosure-basics .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #266CC3;
    background-color: #266CC3;
}
.category-8-compassionate-foreclosure-basics  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #266CC3;
    background-color: #266CC3;
}

.category-8-compassionate-foreclosure-basics .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-8-compassionate-foreclosure-basics .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-8-compassionate-foreclosure-basics .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-8-compassionate-foreclosure-basics .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-8-compassionate-foreclosure-basics .btn.edit-category{
    background:#F7901D;
    color:white;
    border-radius: 5px;
}
.category-8-compassionate-foreclosure-basics .btn.edit-category:hover{
    background-color: #266CC3;

    color:black;
    transition : all .2s ease-in-out;
}
.category-8-compassionate-foreclosure-basics .btn.edit-category .svg-icon{
    color:white;
}
.category-8-compassionate-foreclosure-basics .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-8-compassionate-foreclosure-basics .footer-message h3 span {
    color: #266CC3;
}
.category-8-compassionate-foreclosure-basics .footer-message h3 span a,
.category-8-compassionate-foreclosure-basics .footer-message h3 a{
    color: #266CC3;
}

.category-8-compassionate-foreclosure-basics .category-notifications-button .btn,
.category-8-compassionate-foreclosure-basics .btn#create-topic{
    background-color: #F7901D;
    color:white;
    border-radius: 5px;
}
.category-8-compassionate-foreclosure-basics .category-notifications-button .btn:hover,
.category-8-compassionate-foreclosure-basics .btn#create-topic:hover{
    background-color: #266CC3;
    color:white;
    transition : all .2s ease-in-out;
}
.category-8-compassionate-foreclosure-basics .btn#create-topic .d-icon{
    color:white;
}

.category-8-compassionate-foreclosure-basics .d-icon.d-icon-d-regular,
.category-8-compassionate-foreclosure-basics .d-icon.d-icon-d-muted, 
.category-8-compassionate-foreclosure-basics .d-icon.d-icon-d-watching-first,
.category-8-compassionate-foreclosure-basics .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-8-compassionate-foreclosure-basics .discourse-no-touch .btn .d-icon{
    color: white;
}

.category-8-compassionate-foreclosure-basics .discourse-no-touch .btn{
    background: #266CC3;
}


.category-8-compassionate-foreclosure-basics .nav-item_latest.active.latest a.active,
.category-8-compassionate-foreclosure-basics .nav-item_top.top a.active
{
    background-color: #266CC3;
    border-radius :5px;
    
}

.category-8-compassionate-foreclosure-basics .nav-item_top.top a:hover,
.category-8-compassionate-foreclosure-basics .nav-item_latest.latest a:hover{
     color: white;
     background-color: #266CC3;
     border-radius :5px;
}


.category-8-compassionate-foreclosure-basics .topic-footer-main-buttons .btn,
.category-8-compassionate-foreclosure-basics .topic-admin-menu-button .btn,
.category-8-compassionate-foreclosure-basics .pinned-button .pinned-options .btn,
.category-8-compassionate-foreclosure-basics .topic-notifications-button .btn
{
     background-color: #F7901D;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-8-compassionate-foreclosure-basics .topic-footer-main-buttons .btn:hover,
.category-8-compassionate-foreclosure-basics .pinned-button .pinned-options .btn:hover,
.category-8-compassionate-foreclosure-basics .topic-admin-menu-button .btn:hover,
.category-8-compassionate-foreclosure-basics .topic-notifications-button .btn:hover,
.category-8-compassionate-foreclosure-basics .pinned-button .pinned-options .btn:focus,
.category-8-compassionate-foreclosure-basics .topic-notifications-button .btn:focus{
     background-color: #266CC3;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-8-compassionate-foreclosure-basics .topic-footer-main-button .d-button-label{
    color:white;
}

.category-8-compassionate-foreclosure-basics .pinned-button .pinned-options .btn {
    
}


/* END 8 Cmpassionate Forclosure basics GROUP BRANDING */

/* START About the 4 Weeks to a Six Figure Pipeline Bootcamp BRANDING */
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .list-controls .combo-box .combo-box-header {
    background: #3ABF14;
    border-radius :5px;
    color : white;
    
}
body.category-4-weeks-to-a-six-figure-pipeline-bootcamp .d-header{
    box-shadow : 0 2px 4px -1px #3ABF14; 
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #B61C1B;

}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-4-weeks-to-a-six-figure-pipeline-bootcamp .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #B61C1B;
    background-color: #B61C1B;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #B61C1B;
    background-color: #B61C1B;
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .btn.edit-category{
    background:#3ABF14;
    color:white;
    border-radius: 5px;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .btn.edit-category:hover{
    background-color: #B61C1B;

    color:black;
    transition : all .2s ease-in-out;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .btn.edit-category .svg-icon{
    color:white;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .footer-message h3 span {
    color: #B61C1B;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .footer-message h3 span a,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .footer-message h3 a{
    color: #B61C1B;
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .category-notifications-button .btn,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .btn#create-topic{
    background-color: #3ABF14;
    color:white;
    border-radius: 5px;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .category-notifications-button .btn:hover,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .btn#create-topic:hover{
    background-color: #B61C1B;
    color:white;
    transition : all .2s ease-in-out;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .btn#create-topic .d-icon{
    color:white;
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .d-icon.d-icon-d-regular,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .d-icon.d-icon-d-muted, 
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .d-icon.d-icon-d-watching-first,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .discourse-no-touch .btn .d-icon{
    color: white;
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .discourse-no-touch .btn{
    background: #B61C1B;
}


.category-4-weeks-to-a-six-figure-pipeline-bootcamp .nav-item_latest.active.latest a.active,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .nav-item_top.top a.active
{
    background-color: #B61C1B;
    border-radius :5px;
    
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .nav-item_top.top a:hover,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .nav-item_latest.latest a:hover{
     color: white;
     background-color: #B61C1B;
     border-radius :5px;
}


.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-footer-main-buttons .btn,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-admin-menu-button .btn,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .pinned-button .pinned-options .btn,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-notifications-button .btn
{
     background-color: #3ABF14;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-footer-main-buttons .btn:hover,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .pinned-button .pinned-options .btn:hover,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-admin-menu-button .btn:hover,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-notifications-button .btn:hover,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .pinned-button .pinned-options .btn:focus,
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-notifications-button .btn:focus{
     background-color: #B61C1B;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-4-weeks-to-a-six-figure-pipeline-bootcamp .topic-footer-main-button .d-button-label{
    color:white;
}

.category-4-weeks-to-a-six-figure-pipeline-bootcamp .pinned-button .pinned-options .btn {
    
}

/* END About the 4 Weeks to a Six Figure Pipeline Bootcamp BRANDING */

/* START Short term rental specialist BRANDING */
.category-short-term-rental-specialist .list-controls .combo-box .combo-box-header {
    background: #3088F4;
    border-radius :5px;
    color : white;
    
}
body.category-short-term-rental-specialist .d-header{
    box-shadow : 0 2px 4px -1px #3088F4; 
}

.category-short-term-rental-specialist .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #FFCD00;

}
.category-short-term-rental-specialist .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-short-term-rental-specialist .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #FFCD00;
    background-color: #FFCD00;
}
.category-short-term-rental-specialist  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #FFCD00;
    background-color: #FFCD00;
}

.category-short-term-rental-specialist .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-short-term-rental-specialist .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-short-term-rental-specialist .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-short-term-rental-specialist .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-short-term-rental-specialist .btn.edit-category{
    background:#3088F4;
    color:white;
    border-radius: 5px;
}
.category-short-term-rental-specialist .btn.edit-category:hover{
    background-color: #FFCD00;

    color:black;
    transition : all .2s ease-in-out;
}
.category-short-term-rental-specialist .btn.edit-category .svg-icon{
    color:white;
}
.category-short-term-rental-specialist .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-short-term-rental-specialist .footer-message h3 span {
    color: #FFCD00;
}
.category-short-term-rental-specialist .footer-message h3 span a,
.category-short-term-rental-specialist .footer-message h3 a{
    color: #FFCD00;
}

.category-short-term-rental-specialist .category-notifications-button .btn,
.category-short-term-rental-specialist .btn#create-topic{
    background-color: #3088F4;
    color:white;
    border-radius: 5px;
}
.category-short-term-rental-specialist .category-notifications-button .btn:hover,
.category-short-term-rental-specialist .btn#create-topic:hover{
    background-color: #FFCD00;
    color:white;
    transition : all .2s ease-in-out;
}
.category-short-term-rental-specialist .btn#create-topic .d-icon{
    color:white;
}

.category-short-term-rental-specialist .d-icon.d-icon-d-regular,
.category-short-term-rental-specialist .d-icon.d-icon-d-muted, 
.category-short-term-rental-specialist .d-icon.d-icon-d-watching-first,
.category-short-term-rental-specialist .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-short-term-rental-specialist .discourse-no-touch .btn .d-icon{
    color: white;
}

.category-short-term-rental-specialist .discourse-no-touch .btn{
    background: #FFCD00;
}


.category-short-term-rental-specialist .nav-item_latest.active.latest a.active,
.category-short-term-rental-specialist .nav-item_top.top a.active
{
    background-color: #FFCD00;
    border-radius :5px;
    
}

.category-short-term-rental-specialist .nav-item_top.top a:hover,
.category-short-term-rental-specialist .nav-item_latest.latest a:hover{
     color: white;
     background-color: #FFCD00;
     border-radius :5px;
}


.category-short-term-rental-specialist .topic-footer-main-buttons .btn,
.category-short-term-rental-specialist .topic-admin-menu-button .btn,
.category-short-term-rental-specialist .pinned-button .pinned-options .btn,
.category-short-term-rental-specialist .topic-notifications-button .btn
{
     background-color: #3088F4;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-short-term-rental-specialist .topic-footer-main-buttons .btn:hover,
.category-short-term-rental-specialist .pinned-button .pinned-options .btn:hover,
.category-short-term-rental-specialist .topic-admin-menu-button .btn:hover,
.category-short-term-rental-specialist .topic-notifications-button .btn:hover,
.category-short-term-rental-specialist .pinned-button .pinned-options .btn:focus,
.category-short-term-rental-specialist .topic-notifications-button .btn:focus{
     background-color: #FFCD00;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-short-term-rental-specialist .topic-footer-main-button .d-button-label{
    color:white;
}

.category-short-term-rental-specialist .pinned-button .pinned-options .btn {
    
}



/* END Short term rental specialist BRANDING */  


/* START Social media lead generation specialist BNADING */
.category-social-media-lead-generation-specialist .list-controls .combo-box .combo-box-header {
    background: #B61C1B;
    border-radius :5px;
    color : white;
    
}
body.category-social-media-lead-generation-specialist .d-header{
    box-shadow : 0 2px 4px -1px #B61C1B; 
}

.category-social-media-lead-generation-specialist .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #FFCD00;

}
.category-social-media-lead-generation-specialist .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-social-media-lead-generation-specialist .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #FFCD00;
    background-color: #FFCD00;
}
.category-social-media-lead-generation-specialist  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #FFCD00;
    background-color: #FFCD00;
}

.category-social-media-lead-generation-specialist .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-social-media-lead-generation-specialist .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-social-media-lead-generation-specialist .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-social-media-lead-generation-specialist .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-social-media-lead-generation-specialist .btn.edit-category{
    background:#B61C1B;
    color:white;
    border-radius: 5px;
}
.category-social-media-lead-generation-specialist .btn.edit-category:hover{
    background-color: #FFCD00;

    color:black;
    transition : all .2s ease-in-out;
}
.category-social-media-lead-generation-specialist .btn.edit-category .svg-icon{
    color:white;
}
.category-social-media-lead-generation-specialist .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-social-media-lead-generation-specialist .footer-message h3 span {
    color: #FFCD00;
}
.category-social-media-lead-generation-specialist .footer-message h3 span a,
.category-social-media-lead-generation-specialist .footer-message h3 a{
    color: #FFCD00;
}

.category-social-media-lead-generation-specialist .category-notifications-button .btn,
.category-social-media-lead-generation-specialist .btn#create-topic{
    background-color: #B61C1B;
    color:white;
    border-radius: 5px;
}
.category-social-media-lead-generation-specialist .category-notifications-button .btn:hover,
.category-social-media-lead-generation-specialist .btn#create-topic:hover{
    background-color: #FFCD00;
    color:white;
    transition : all .2s ease-in-out;
}
.category-social-media-lead-generation-specialist .btn#create-topic .d-icon{
    color:white;
}

.category-social-media-lead-generation-specialist .d-icon.d-icon-d-regular,
.category-social-media-lead-generation-specialist .d-icon.d-icon-d-muted, 
.category-social-media-lead-generation-specialist .d-icon.d-icon-d-watching-first,
.category-social-media-lead-generation-specialist .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-social-media-lead-generation-specialist .discourse-no-touch .btn .d-icon{
    color: white;
}

.category-social-media-lead-generation-specialist .discourse-no-touch .btn{
    background: #FFCD00;
}


.category-social-media-lead-generation-specialist .nav-item_latest.active.latest a.active,
.category-social-media-lead-generation-specialist .nav-item_top.top a.active
{
    background-color: #FFCD00;
    border-radius :5px;
    
}

.category-social-media-lead-generation-specialist .nav-item_top.top a:hover,
.category-social-media-lead-generation-specialist .nav-item_latest.latest a:hover{
     color: white;
     background-color: #FFCD00;
     border-radius :5px;
}


.category-social-media-lead-generation-specialist .topic-footer-main-buttons .btn,
.category-social-media-lead-generation-specialist .topic-admin-menu-button .btn,
.category-social-media-lead-generation-specialist .pinned-button .pinned-options .btn,
.category-social-media-lead-generation-specialist .topic-notifications-button .btn
{
     background-color: #B61C1B;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-social-media-lead-generation-specialist .topic-footer-main-buttons .btn:hover,
.category-social-media-lead-generation-specialist .pinned-button .pinned-options .btn:hover,
.category-social-media-lead-generation-specialist .topic-admin-menu-button .btn:hover,
.category-social-media-lead-generation-specialist .topic-notifications-button .btn:hover,
.category-social-media-lead-generation-specialist .pinned-button .pinned-options .btn:focus,
.category-social-media-lead-generation-specialist .topic-notifications-button .btn:focus{
     background-color: #FFCD00;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-social-media-lead-generation-specialist .topic-footer-main-button .d-button-label{
    color:white;
}

.category-social-media-lead-generation-specialist .pinned-button .pinned-options .btn {
    
}

/* END Social media lead generation specialist BRANDING */

/* START Distresses property specialist BRANDING */
.category-distressed-property-specialist .list-controls .combo-box .combo-box-header {
    background: #F7901D;
    border-radius :5px;
    color : white;
    
}
body.category-distressed-property-specialist .d-header{
    box-shadow : 0 2px 4px -1px #F7901D; 
}

.category-distressed-property-specialist .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #266CC3;

}
.category-distressed-property-specialist .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-distressed-property-specialist .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #266CC3;
    background-color: #266CC3;
}
.category-distressed-property-specialist  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #266CC3;
    background-color: #266CC3;
}

.category-distressed-property-specialist .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-distressed-property-specialist .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-distressed-property-specialist .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-distressed-property-specialist .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-distressed-property-specialist .btn.edit-category{
    background:#F7901D;
    color:white;
    border-radius: 5px;
}
.category-distressed-property-specialist .btn.edit-category:hover{
    background-color: #266CC3;

    color:black;
    transition : all .2s ease-in-out;
}
.category-distressed-property-specialist .btn.edit-category .svg-icon{
    color:white;
}
.category-distressed-property-specialist .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-distressed-property-specialist .footer-message h3 span {
    color: #266CC3;
}
.category-distressed-property-specialist .footer-message h3 span a,
.category-distressed-property-specialist .footer-message h3 a{
    color: #266CC3;
}

.category-distressed-property-specialist .category-notifications-button .btn,
.category-distressed-property-specialist .btn#create-topic{
    background-color: #F7901D;
    color:white;
    border-radius: 5px;
}
.category-distressed-property-specialist .category-notifications-button .btn:hover,
.category-distressed-property-specialist .btn#create-topic:hover{
    background-color: #266CC3;
    color:white;
    transition : all .2s ease-in-out;
}
.category-distressed-property-specialist .btn#create-topic .d-icon{
    color:white;
}

.category-distressed-property-specialist .d-icon.d-icon-d-regular,
.category-distressed-property-specialist .d-icon.d-icon-d-muted, 
.category-distressed-property-specialist .d-icon.d-icon-d-watching-first,
.category-distressed-property-specialist .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-distressed-property-specialist .discourse-no-touch .btn .d-icon{
    color: white;
}

.category-distressed-property-specialist .discourse-no-touch .btn{
    background: #266CC3;
}


.category-distressed-property-specialist .nav-item_latest.active.latest a.active,
.category-distressed-property-specialist .nav-item_top.top a.active
{
    background-color: #266CC3;
    border-radius :5px;
    
}

.category-distressed-property-specialist .nav-item_top.top a:hover,
.category-distressed-property-specialist .nav-item_latest.latest a:hover{
     color: white;
     background-color: #266CC3;
     border-radius :5px;
}


.category-distressed-property-specialist .topic-footer-main-buttons .btn,
.category-distressed-property-specialist .topic-admin-menu-button .btn,
.category-distressed-property-specialist .pinned-button .pinned-options .btn,
.category-distressed-property-specialist .topic-notifications-button .btn
{
     background-color: #F7901D;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-distressed-property-specialist .topic-footer-main-buttons .btn:hover,
.category-distressed-property-specialist .pinned-button .pinned-options .btn:hover,
.category-distressed-property-specialist .topic-admin-menu-button .btn:hover,
.category-distressed-property-specialist .topic-notifications-button .btn:hover,
.category-distressed-property-specialist .pinned-button .pinned-options .btn:focus,
.category-distressed-property-specialist .topic-notifications-button .btn:focus{
     background-color: #266CC3;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-distressed-property-specialist .topic-footer-main-button .d-button-label{
    color:white;
}

.category-distressed-property-specialist .pinned-button .pinned-options .btn {
    
}


    
/* END Distressed property specialist BRANDING */

/*STARGING VALUE PROP BRANDING*/
.category-value-prop .list-controls .combo-box .combo-box-header {
    background: #266CC3;
    border-radius :5px;
    color : white;
    
}

body.category-value-prop .category-heading > p{
    display: none;
}


body.category-value-prop .d-header{
    box-shadow : 0 2px 4px -1px #266CC3; ;
}

.category-value-prop .list-controls .combo-box .combo-box-header:hover{
    color: white;
    background-color: #f7901d;

}
.category-value-prop .category-breadcrumb  .name .badge-wrapper .badge-category .category-name{
    color: white;

}



.category-value-prop .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #f7901d;
    background-color: #f7901d;
}
.category-value-prop  .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn){
    border-color: #f7901d;
    background-color: #f7901d;
}

.category-value-prop .category-breadcrumb .select-kit.single-select.is-expanded .select-kit-header:not(.btn), 
.category-value-prop .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):focus,
.category-value-prop .category-breadcrumb .select-kit.single-select .select-kit-header:not(.btn):active {
    
    outline: none;
   
}

.category-value-prop .topic-list-item.visited .topic-list-data a.title:not(.badge-notification){
    
}
.category-value-prop .btn.edit-category{
    background:#266CC3;
    color:white;
    border-radius: 5px;
}
.category-value-prop .btn.edit-category:hover{
    background-color: #f7901d;

    color:black;
    transition : all .2s ease-in-out;
}
.category-value-prop .btn.edit-category .svg-icon{
    color:white;
}
.category-value-prop .btn.edit-category:hover .svg-icon{
    color:black;
}

.category-value-prop .footer-message h3 span {
    color: #f7901d;
}
.category-value-prop .footer-message h3 span a,
.category-value-prop .footer-message h3 a{
    color: #f7901d;
}

.category-value-prop .category-notifications-button .btn,
.category-value-prop .btn#create-topic{
    background-color: #266CC3;
    color:white;
    border-radius: 5px;
}
.category-value-prop .category-notifications-button .btn:hover,
.category-value-prop .btn#create-topic:hover{
    background-color: #f7901d;
    color:white;
    transition : all .2s ease-in-out;
}
.category-value-prop .btn#create-topic .d-icon{
    color:white;
}

.category-value-prop .d-icon.d-icon-d-regular,
.category-value-prop .d-icon.d-icon-d-muted, 
.category-value-prop .d-icon.d-icon-d-watching-first,
.category-value-prop .d-icon.d-icon-d-watching-first-post {
    color: white;
}

.category-value-prop .discourse-no-touch .btn .d-icon{
    color: white;
}

.category-value-prop .discourse-no-touch .btn{
    background: #f7901d;
}


.category-value-prop .nav-item_latest.active.latest a.active,
.category-value-prop .nav-item_top.top a.active
{
    background-color: #f7901d;
    border-radius :5px;
    
}

.category-value-prop .nav-item_top.top a:hover,
.category-value-prop .nav-item_latest.latest a:hover{
     color: white;
     background-color: #f7901d;
     border-radius :5px;
}


.category-value-prop .topic-footer-main-buttons .btn,
.category-value-prop .topic-admin-menu-button .btn,
.category-value-prop .pinned-button .pinned-options .btn,
.category-value-prop .topic-notifications-button .btn
{
     background-color: #266CC3;
     border-radius: 5px;
     color:white;
     .d-icon{
         color:white;
     }
    
}

.category-value-prop .topic-footer-main-buttons .btn:hover,
.category-value-prop .pinned-button .pinned-options .btn:hover,
.category-value-prop .topic-admin-menu-button .btn:hover,
.category-value-prop .topic-notifications-button .btn:hover,
.category-value-prop .pinned-button .pinned-options .btn:focus,
.category-value-prop .topic-notifications-button .btn:focus{
     background-color: #f7901d;
     border-radius: 5px;
     .d-icon{
         color:white;
     }
    
    transition: all .2s ease-in-out;
}
.category-value-prop .topic-footer-main-button .d-button-label{
    color:white;
}

.category-value-prop .pinned-button .pinned-options .btn {
    
}



/* END VALUE PROP GROUP BRANDING*/



/* START Badge override for every closed group */
@media (prefers-color-scheme: dark) {
    .badge-category__wrapper .badge-category__name {
        color: white;
    }
}


/* END Badge override for every closed group */


@supports (--custom: property){
.category-logo.aspect-image {
    --max-height: 200px;
    max-height: var(--max-height);
    max-width: 100%;
    height: auto;
    width : 100%;
}
}










@supports (--custom: property){
.category-logo.aspect-image img {
    width:100%; 
    max-width: 100%;
    height: inherit;
    max-height: var(--max-height);
    border-radius : 10px;
}
}

.category-logo.aspect-image {
    margin : 0px;
    padding-bottom: 1.5em;
}
    
/* START CATEGORY BANNER OVERLAYS */

.category.category-box{
    height: 200px;
    max-width: 600px;
}


.category-box-web3-course{
    background: url($banner-2);
    
}

.category-box-web3-accelerator{
    background: url($banner-1);
}

.n-category-banner-overlay{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: #333333;
    transition: all 0.2s ease-in-out;
    opacity: 0; 
    border-radius: 30px;
}






.n-category-banner-wrapper{
    flex: 1 1 33%;
    position:relative;
    border-radius: 30px;
    max-width: 50%;
    max-height: 200px;
    height: auto;
    background: #333333;
    overflow: hidden;
    border : 1px solid #ffd23f;
}



.n-category-banner-container{
    display: flex; 
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.n-overlay-button{
    background: #f7901d !important;
    color: white !important;
}

.n-overlay-text{
    font-family: Poppins, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 0px 10px;
}


.lock-icon{
    position: absolute;
    top:1%;
    right: 20px;
    width: 30px;
    height: auto;
    z-index: 99;
}

.lock-icon.granted{
    color: #3ABF14;
}

.lock-icon.denied{
    color: #fb1d1de6;
}


.n-category-banner-wrapper:hover .n-category-banner-overlay{
   
    opacity: 1;
}

/*#decorative-banners{
    margin-bottom: 20px;
}
*/

.n-intro-guide-modal .d-modal__body{
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



@media(max-width:480px){
    .n-category-banner-wrapper{
        flex: 1 1 100%;
        max-width: 100%;
        min-height: 100px;
        height: auto;
    }   
    .n-overlay-text{
        font-size: 15px;
    }
}




/*
MANUAL ALL ACCESS BANNER ORDERING OVERRIDES  START 

*/
.category-all-access-pass .n-category-banner-wrapper:nth-child(1){
    order: 1;
}

.category-all-access-pass .n-category-banner-wrapper:nth-child(2){
    order: 2;
}

.category-all-access-pass .n-category-banner-wrapper:nth-child(3){
    order: 3;
}
.category-all-access-pass .n-category-banner-wrapper:nth-child(4){
    order: 4;
}

.category-all-access-pass .n-category-banner-wrapper:nth-child(5){
    order: 6;
}
.category-all-access-pass .n-category-banner-wrapper:nth-child(6){
    order: 5;
}
.category-all-access-pass .n-category-banner-wrapper:nth-child(7){
    order: 7;
}
.category-all-access-pass .n-category-banner-wrapper:nth-child(8){
    order: 8;
}

.category-all-access-pass-brokers-playbook-podcast .n-category-banner-wrapper{
   
    max-height: 300px;
    height: 300px;
   
}


/*
MANUAL ALL ACCESS BANNER ORDERING OVERRIDES  END  

*/





/*
.d-modal__container{
    max-height: 100vh !important;
    height: 100vh;
    width: 100vw !important;
    max-width: 100vw !important;
}
*/

/* Template Overrides (hiding elements based on steakholder requests */

li[data-list-item-name="all-categories"], 
div[data-section-name="chat-channels"],
.category.category-all-access-pass .footer-message,
.category.category-all-access-pass .topic-list,
.category.category-all-access-pass #create-topic,
.category.category-all-access-pass .nav-item_latest,
.category.category-all-access-pass .nav-item_new,
.category.category-all-access-pass  .nav-item_unread,
.category.category-all-access-pass .nav-item_top,
.cooked .discourse-post-event,
body:not(.staff).category.category-live-workshops  #create-topic,
.category.category-live-workshops  .nav-item_latest,
.category.category-live-workshops  .nav-item_top,
.category.category-live-workshops  .nav-item_new,
.category.category-live-workshops  .nav-item_unread,
.category.category-live-workshops  .topic-list,
.category.category-live-workshops .footer-message ,

.category.category-all-access-pass-brokers-playbook-podcast  #create-topic,
.category.category-all-access-pass-brokers-playbook-podcast  .nav-item_latest,
.category.category-all-access-pass-brokers-playbook-podcast  .nav-item_top,
.category.category-all-access-pass-brokers-playbook-podcast  .nav-item_new,
.category.category-all-access-pass-brokers-playbook-podcast  .nav-item_unread,
.category.category-all-access-pass-brokers-playbook-podcast  .topic-list,
.category.category-all-access-pass-brokers-playbook-podcast .footer-message ,
.category.category-all-access-pass-brokers-playbook-podcast .more-topics__container,


.category.category-all-access-pass-monday-accountability-call    .nav-item_latest,
.category.category-all-access-pass-monday-accountability-call   .nav-item_top,
.category.category-all-access-pass-monday-accountability-call    .nav-item_new,
.category.category-all-access-pass-monday-accountability-call    .nav-item_unread,
.category.category-all-access-pass-monday-accountability-call   .footer-message ,
.category.category-all-access-pass-monday-accountability-call   .more-topics__container,

.categories-list    .nav-item_latest,
.categories-list     .nav-item_top,
.categories-list      .nav-item_new,
.categories-list   .nav-item_unread
{
    display: none !important;
}


#back-to-aa-button{
    top: -13px;
    left: 0;
    padding: 10px 20px;
    border-radius: 50px;
    
    column-gap: 10px;
    display: inline-flex;
    line-height: 10px;
    align-items: center;
    border: 1px solid;
    transition: all .1s ease-in-out;
    color: var(--primary) !important;
    

}

.back-to-aa-container{
    position: relative;
    margin-bottom: 10px;
}

#back-arrow{
    transition: all .1s ease-in-out;
    fill: var(--primary) !important;
}
#back-to-aa-button:hover #back-arrow{
  transform: translateX(-3px);
  fill: var(--primary);
  
}

@mixin sidebarColors($scheme) {
    @debug "scheme: #{$scheme}";

    @if $scheme == dark {
        color: white !important;
    }@else {
        color: var(--scheme-type) !important;
    }

}

.sidebar-section-wrapper .sidebar-section-header {
    @include sidebarColors(var(--scheme-type));
}


.webinar-content .countdown .pill {
    color : black !important;    
}

.zoom-add-to-calendar-container{
    display : none !important;
}


#main-outlet-wrapper.wrap #main-outlet {
    color: var(--override-primary) !important;
}


body:not(.staff) .navigation-controls #create-topic {
    display: none;
}

li.nav-item.resource-button{
    border : 1px solid var(--primary);
}

[data-wrap="button"] a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #FFF !important;
    background-color: #B70707;
    border-color: #9f0707;
}


//Docs category box overrides

.category.category-box .category-logo{ 
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    z-index: 1 !important;
}

.category.category-box .category-details{
    z-index: 2 !important;
}

.category-boxes .category-box .category-box-inner{
    justify-content: center !important;
}


.category-boxes .category-box .category-logo.aspect-image{
    padding-bottom: 0 !important;
}

.category-boxes .category-box .category-logo.aspect-image img{
    width: 100% !important;
    height: 100% !important;
}


.category-boxes .category-details .description a{
    display: none;
}

.category-title-header .cooked a {
    display: inline-flex;
    margin-top: 16px;
    background-color: #B70707;
    padding : 10px 30px;
    border-radius: 20px;
    text-decoration: none !important;

}


// Part #1 Allows text to be displayed to the right of a button.
[data-wrap="button"] {
    display: flex;
    width: 100%;
    justify-content: center;
}

// Part #2 Allows text to be displayed to the right of a button.
[data-wrap="text-after-button"] {
    display:inline-block;
}




$dark-theme-ins: #ffffff;
$light-theme-ins: #000000;

$prim: dark-light-choose($light-theme-ins,$dark-theme-ins);
:root{
    --override-primary: #{$prim};
    --primary: #{$prim};
    --primary-medium: #{$prim};
    --primary-high: #{$prim};
}
