{{#if accessResourcesButton }}
  <li title="topics with recent posts" class="nav-item resource-button">
    <a href={{accessResourcesButton.resources_url}} >{{accessResourcesButton.button_text}}</a>
  </li>
{{/if}}
