<li title="Configure Banners and CTA texts/buttons" id=""  class="navigation-item banners">
    <a class="ember-view navigation-link" href="/admin/customize/themes/10/schema/category_banners">Banners Configuration</a>
</li>
<li title="Configure thumbnail layouts for topics" id=""  class="navigation-item topic-thumbnails">
    <a class="ember-view navigation-link" href="/admin/customize/components/18">Topic Thumbnails</a>
</li>
<li title="Run a User Activity Export" id=""  class="navigation-item user-activity-export">
    <a class="ember-view navigation-link" href="/admin/customize/components/18">Topic Thumbnails</a>
</li>