<li title="Configure Banners and CTA texts/buttons" id=""  class="navigation-item banners">
    <a class="ember-view navigation-link" href="/admin/customize/themes/10/schema/category_banners" >Banners Configuration</a>
</li>