   <li title="topics with recent posts" id="ember154" class="latest ember-view nav-item resource-button">
      <a href="/admin/customize/themes/10/schema/category_banners" >Banners Configuration</a>
    </li>